@page "/Provedores/Index"
@inject ProvedoreServices provedoresService
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject ToastService toastService

<PageTitle>Provedores</PageTitle>
<div class="row" style="background-color:white; padding:10px; margin:10px;">
	<div class="col">
		<div class="text-left">
			<h2 class="text-black"><i class="bi bi-person-badge m-1"></i> Proveedores</h2>
		</div>
	</div>
	<div class="col text-end">
		<a href="/Provedores/Create" class="btn btn-secondary">Crear nuevo proveedor</a>
	</div>
</div>

<div class="container">
	<div class="card">
		<div class="card-body" style="padding: 20px;">
			<div class="row">
				<div class="col-4">
					<div class="input-group" style="width: 250px">
						<div class="form-floating">
							<InputSelect class="form-select" id="floatingSelect" aria-label="Floating label select example" @bind-Value="@valorFiltro">
								<option value="" selected disabled>--- Selecciona ---</option>
								<option value="id">ProvedoresID</option>
								<option value="Nombres">Nombre</option>
								<option value="Correo">Email</option>
							</InputSelect>
							<label for="floatingSelect"><strong>Filtrar en base a...</strong></label>
						</div>
						<button type="button" class="btn btn-secondary bi bi-arrow-counterclockwise" @onclick="() => Restablecer()"></button>
					</div>
				</div>

				<div class="col">
					<div class="input-group" style="width: 500px">
						<div class="form-floating d-flex align-items-center">
							<InputText @bind-Value="@searchBarValue" class="form-control" placeholder="" id="floatingSearch" />
							<label for="floatingSearch">Buscar</label>
						</div>
						<button @onclick="Buscar" class="btn btn-secondary bi bi-search" type="button"></button>
					</div>
				</div>
			</div>

			<div style="overflow-x: auto;">
				<table class="table table-light table-hover" style="min-width: 100%;">
					<thead class="table table-striped">
						<tr class="text-center">
							<th>ID</th>
							<th>Nombre</th>
							<th style="white-space: nowrap;">Contacto</th>
							<th>Email</th>
							<th>Dirección</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var provedores in ListaProvedores)
						{
							<tr class="text-center">
								<td>@provedores.ProvedorId</td>
								<td>@provedores.Nombre</td>
								<td style="white-space: nowrap;">@($"({provedores.Telefono?[..3]}) {provedores.Telefono?[3..6]}-{provedores.Telefono?[6..]}")</td>
								<td>@provedores.Correo</td>
								<td>@provedores.Direccion</td>
								<td class="text-center" style="display: flex; justify-content: center; gap: 5px;">
									<a href="/Provedores/Edit/@provedores.ProvedorId" class="btn btn-outline-info bi bi-pencil-square"></a>
									<button type="button" @onclick="() => MostrarModal(provedores.ProvedorId, provedores.Correo)" class="btn btn-outline-danger bi bi-trash"></button>
								</td>
							</tr>
						}
					</tbody>
					<caption>Cant. De Provedor: @ListaProvedores.Count</caption>
				</table>
			</div>
		</div>
	</div>
</div>



@if (mostrarModal)
{
	<div class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #7B0323; color: white;">
					<h5 class="modal-title">Eliminar Provedor</h5>
					<button type="button" class="btn-close" @onclick="CerrarModal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>¿Está seguro de que desea eliminar a este Provedor?</p>
					<p>Esta opción no se puede deshacer.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cancelar</button>
					<button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade show" @onclick="CerrarModal"></div>
}



@code {
	public string searchBarValue { get; set; } = string.Empty;
	public string valorFiltro { get; set; } = string.Empty;
	public List<Provedores> ListaProvedores { get; set; } = new List<Provedores>();
	private bool mostrarModal = false;
	private int ProvedoreIdSeleccionado { get; set; }
	private string EmailProvedoresSelecionado { get; set; } = "";

	//NOTIFICACIONES
	public ToastType TipoNotificacion { get; set; }
	public string MensajeNotificacion { get; set; } = string.Empty;
	public string TituloNotificacion { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		ListaProvedores = await provedoresService.Listar(C => true);
	}

	private void MostrarModal(int provedoreId, string provoresEmail)
	{
		ProvedoreIdSeleccionado = provedoreId;
		EmailProvedoresSelecionado = provoresEmail;
		mostrarModal = true;
	}

	private void CerrarModal()
	{
		mostrarModal = false;
		ProvedoreIdSeleccionado = 0;
		EmailProvedoresSelecionado = "";
	}
	private async Task Buscar()
	{
		if (!string.IsNullOrWhiteSpace(valorFiltro) && !string.IsNullOrWhiteSpace(searchBarValue))
		{
			switch (valorFiltro)
			{
				case "id":
					if (int.TryParse(searchBarValue, out int ProvedoreId))
					{
						ListaProvedores = await provedoresService.Listar(s => s.ProvedorId == ProvedoreId);
					}
					else
					{
						TipoNotificacion = ToastType.Warning;
						TituloNotificacion = "Aviso";
						MensajeNotificacion = "Debe ingresar un ID válido.";
						MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					}
					break;

				case "Nombres":
					ListaProvedores = await provedoresService.Listar(s => s.Nombre.ToLower().Contains(searchBarValue.ToLower()));
					break;

				case "Correo":
					ListaProvedores = await provedoresService.Listar(s => s.Correo.ToLower().Contains(searchBarValue.ToLower()));
					break;

				default:
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Seleccione un filtro válido.";
					MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					break;
			}
		}
		else
		{
			ListaProvedores = await provedoresService.Listar(p => true);
		}
	}


	public async Task Eliminar()
	{
		try
		{
			await provedoresService.Eliminar(ProvedoreIdSeleccionado);
			ListaProvedores = await provedoresService.Listar(x => true);
			mostrarModal = false;
			ProvedoreIdSeleccionado = 0;
			TipoNotificacion = ToastType.Success;
			TituloNotificacion = "Enhorabuena";
			MensajeNotificacion = "¡Se ha eliminado el provedor exitosamente!";
			MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
		}
		catch (Exception ex)
		{
			TipoNotificacion = ToastType.Danger;
			TituloNotificacion = "Error";
			MensajeNotificacion = "Hubo un error al eliminar el provedor.";
			MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
		}
	}

	public void MostrarToast(ToastType tipo, string titulo, string cuerpo)
	=> toastService.Notify(new(tipo, titulo, cuerpo));

	public async Task Restablecer()
	{
		ListaProvedores = await provedoresService.Listar(x => true);
		searchBarValue = string.Empty;
		valorFiltro = string.Empty;

		TipoNotificacion = ToastType.Info;
		TituloNotificacion = "Aviso";
		MensajeNotificacion = "Se han restablecido los criterios de búsqueda.";
		MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
	}
}